@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

body {
    padding:2%;
    overflow-x: hidden;
    text-align: center;
    font-family: Montserrat, sans-serif !important ;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
    background: url(https://embed-fastly.wistia.com/deliveries/49bd387c40e2c5aada92abdf973bc46d.webp?image_crop_resized=1980x1080);
    background-position: fixed;
}


h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: #231e39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #b3b8cd;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.card-container .pro {
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.card-container .round {
    border-radius: 50%;
    padding: 7px;
    margin-left:2%;
}

.round {
    height: 150px;
    width: 150px;
}

button.primary {
    background-color: #03bfcb;
    border: 1px solid #03bfcb;
    border-radius: 3px;
    color: #231e39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

button.primary.ghost {
    background-color: transparent;
    color: #02899c;
}

.skills {
    background-color: #1f1a36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}
.skills ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #2d2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

.h1-title {
    text-align: center;
    color: white;
    font-weight: bold;
}
